body {
    background-color: #d0e4fe;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
    animation-name: example;
    animation-duration: 10s;

}

.anim {
	

}

@keyframes cray {
   {background-color: red; width: 2px; height: 1000px; 
   	-webkit-transform: rotateX(10deg); transform: rotateZ(10deg);}
    25%  {background-color: yellow; width: 30px; height: 500px;
    	-webkit-transform: rotateX(30deg); transform: rotateZ(30deg);}
    50%  {background-color: blue; width: 50px; height: 250px;
    	-webkit-transform: rotateX(60deg); transform: rotateZ(60deg);}
    100% {background-color: green; width: 10px; height: 100px;
    	-webkit-transform: rotateX(120deg); transform: rotateZ(120deg);}
}


@keyframes example {
   {background-color: red; width: 2px; height: 1000px; 
   	-webkit-transform: rotateX(10deg); transform: rotateZ(10deg);}
    25%  {background-color: yellow; width: 30px; height: 500px;
    	-webkit-transform: rotateX(30deg); transform: rotateZ(30deg);}
    50%  {background-color: blue; width: 50px; height: 250px;
    	-webkit-transform: rotateX(60deg); transform: rotateZ(60deg);}
    100% {background-color: green; width: 10px; height: 100px;
    	-webkit-transform: rotateX(120deg); transform: rotateZ(120deg);}
}

div {
	width: 100px;
	height: 100px;
	background-color: red;
    animation-name: example;
    animation-duration: 4s;
}